.game {
  text-align: center;
  background-color: none;
}

.game-instructions {
  font-style: italic;
  font-size: 1.0em;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.game-header {
  background-color: rgb(13, 179, 190);
  height: 50px;
  padding: 10px;
  color: white;
}

.game-title {
  font-size: 2em;
  font-weight: bold;
}

.game-status {
  padding: 20px;
  white-space: pre;
}

.game-button {
  font-size: 1.2em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.tile-container {
  display: grid;
  grid-gap: 0px;
}

.tile {
  outline: 1px solid white;
  outline-offset: -1px;

  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.tile-wrapper {
  position: relative;
  margin: auto;
}

.selected {
  outline: 5px solid green;
  opacity: 0.5;
  outline-offset: -6px;
}

.highscoretable {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.user-row-in-highscore {
  border: 2px solid lightgreen;
}

@media only screen and (max-width: 400px) {
  .date-column {
    display: none;
  }
}